body {
  margin: 0;
}
.accordion ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: inline-block;
  position: relative;
  width: 100%;
  /* min-height: 300px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.accordion ul li:nth-child(1) {
  background-image: url("https://s3-alpha-sig.figma.com/img/e7db/889c/86e62d7bd87d8784e1f029798cec630c?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=qCbRJaZxeXgqdkBZQN4s2Fbh-HOpXSvjGTjddBuKe1A5ilIGAwnVsgt7aWQkrpj0Y8cvp82O76WpIzOhIDx2ODwy7fcC1O-yJuZyDe1LvpkOT7t1paYdKsMWTpM0iz3yX9LSkj6d0BTRFqdnJWRGNkfq47BCwVEuVh-fuwjUCTeuUyFuGku1tLF6xspa5jWkpEmH3~TTkyfwRmb7YVFTzLXKCwGodUFduK0eQid~8SpwEVToVl4hiLyAtjiWjTjKi~AP~R8h8wL76z29y-O1kv~diKmnIrkPPdofCkfmregXqJ1AckXiJemqmhDRjuHERP0jzdgEsjXieG~xM8Gy7g__");
}
/* .accordion ul li:nth-child(2) {
	background-image: url("http://maksim.be/codepen/img-2.jpg");
} */
.accordion ul li:nth-child(3) {
  background-image: url("https://s3-alpha-sig.figma.com/img/19f0/15f2/2fcfebdf54403d18f95ff2723def90b8?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=kSE1kvtIjpkU9LMotKM~vmuagFyDvOm8ubE-OP35KxfcNr~sERR1OoDJlJo4n~iTWjK4lki5Jd7VQtEJz5Iw8MJ03Rr6ODnVkLr8lsrfLRDN3AGzKQ97-ms9MGM-ZVLn~3EDmaOqXuWHkVgUcmx~hIgaNcsZELh5-JtBJQt3Bdyz5fPIDWjSHh5Q8FkO9PD~uu3JZRw5dXfc3zSzlaMRBv3xh5NZwGBOmmiXTranNFkvrMC3F2X8ONiaVykdj4Q2EJUqBkOkBIxfth1WBmhnsz4g15jhKWO1bzWlS~d8KUAxs6M4vRJvcsp4MZ4ymuCdPjFaxTJLJ5d4wRegn5u08Q__");
}
/* .accordion ul li::before {
	position: absolute;
	width: 100%;
	height: 100%;	
  left: 0;
  top: 0;
	background: rgba(0,0,0,0.3);
	content: '';
} */
/* .accordion ul li div {
	transform: translateY(0px);
	transition: transform 500ms;
} 
.accordion ul li a {
	text-decoration: none;
	color: #fff;
}
.accordion ul li h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-overflow: clip;
	font-size: 2.5em;
	line-height: 3rem;
}
.accordion ul li p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	opacity: 1;
	transition: opacity 200ms;
	margin-left: 10vw;
	margin-right: 10vw;
}
	*/

@media screen and (min-width: 769px) {
  .accordion {
    /* height: 100vh;
	min-height: 600px; */
    overflow: hidden;
  }
  .accordion ul {
    /* height: 600px; */
    height: auto;
  }
  .accordion ul li {
    display: table-cell;
    width: 33%;
    height: 100%;
    min-height: 600px;
    transition: all 500ms ease;
  }
  .accordion ul:hover li {
    width: 30%;
  }
  .accordion ul li:nth-child(2) {
    width: 50%;
  }
  .accordion ul:hover li:hover {
    width: 60%;
  }
  .accordion ul li::before {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.6) 95%
    );
    opacity: 0;
    transition: opacity 1s, transform 1s;
  }
  .accordion ul li:hover::before {
    opacity: 1;
  }

  .accordion ul:hover li:hover * {
    opacity: 1;
    transition: opacity 500ms, transform 500ms;
    transform: translateX(0);
  }
  /*
	.accordion ul li div {
		transform: translateY(120px);
		transition: transform 500ms;
		}
.accordion ul li p {
	width: 30vw;
	height: 200px;
	opacity: 0;
  margin-left: auto;
	margin-right: auto;
} */
}
